{{ define "main"}}
    {{ template "header" .}}

    <script> $(document).ready(function () {
            $(".clickable-row").click(function() {
                var id = $(this).prop("id");
                alert(id)
              //  window.location = $(this).data("href");
            });
            $("#registration").click(function () {
                var form = $("#registration_form").serializeArray();
                var data = new Map();
                $(form).each(function (index, obj) {
                    data.set(obj.name, obj.value);
                });

                $.ajax({
                    'url': '/api/user',
                    'method': 'POST',
                    'dataType': 'json',
                    'contentType': 'application/json',
                    'data': JSON.stringify({
                        "name": data.get('name'),
                        "password": data.get('password'),
                        "email": data.get('email')
                    }),
                    statusCode: {
                        400: function () {
                            alert("неправельные данные");
                        },
                        302: function () {
                            window.location.href = "/api/login";
                        }
                    },
                    success: function (data) {
                        window.location.href = "/api/mainpage";
                    },
                });
            });

            $(".delete-button").click(function () {
                var id = $(this).prop("name");
                alert(id)
                $.ajax({
                    'url': '/api/user/' + id,
                    'method': 'DELETE',
                    'contentType': 'application/json',
                    statusCode: {
                        400: function () {
                            alert("неправельные данные");
                        },
                        302: function () {
                            window.location.href = "/api/login";
                        }
                    },
                    success: function (data) {
                        window.location.href = "/api/mainpage";
                    },
                });
            });
        });
    </script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>

    <div class="container mt-4">
        <div class="row">
            <div class="col-9">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Пользователь</th>
                        <th scope="col">Email</th>
                        <th scope="col">Действие</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{range . }}
                    <tr  class="clickable-row" id="{{ .Id}}">
                        <th scope="row">{{ .Id}}</th>
                        <td>{{ .Name}}</td>
                        <td>{{ .Email}}</td>
                        <td> <span class="input-group-btn">
                    <button class="btn btn-outline-danger btn-default delete-button" id="btn_delete" name="{{ .Id}}"
                            type="button">удалить</button>
                    <button class="btn btn-outline-success float-right ml-1 " type="button">изменить</button>
                        </span>
            </td>
                    </tr>
                    {{ end}}
                    </tbody>
                </table>

            </div>
            <div class="col-3">
                <a class="btn btn-outline-success form-control" href="newuserpage" role="button">Добавить
                    пользователя</a>
            </div>
        </div>
    </div>

    </body>
    </html>

{{end}}