{{ define "main"}}
    {{ template "header" .}}

    <script> $(document).ready(function () {
            $("#registration").click(function () {
                var form = $("#registration_form").serializeArray();
                var data = new Map();
                $(form).each(function (index, obj) {
                    data.set(obj.name, obj.value);
                });

                $.ajax({
                    'url': '/api/user',
                    'method': 'POST',
                    'dataType': 'json',
                    'contentType': 'application/json',
                    //  'headers': {'Authorization': 'Bearer ' + $.cookie("access_token")},
                    'data': JSON.stringify({
                        "name": data.get('name'),
                        "password": data.get('password'),
                        "email": data.get('email')
                    }),
                    statusCode: {
                        400: function () {
                            alert("неправельные данные");
                        },
                        302: function () {
                            window.location.href = "/api/login";
                        }
                    },
                    success: function (data) {
                        window.location.href = "/api/mainpage";
                    },
                });
            });

            $("#btn_delete").click(function () {
                var id = $(this).prop("name");
                $.ajax({
                    'url': '/api/user/' + id,
                    'method': 'DELETE',
                    'contentType': 'application/json',
                    statusCode: {
                        400: function () {
                            alert("неправельные данные");
                        },
                        302: function () {
                            window.location.href = "/api/login";
                        }
                    },
                    success: function (data) {
                        window.location.href = "/api/mainpage";
                    },
                });
            });
        });
    </script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>

    <div class="container" style="margin-top:50px;">
        <div class="row">
            <div class="col">
                <ul class="list-group list-group-flush">
                    {{range . }}
                        <li class="list-group-item">Пользователь: {{.Email}} <br> Хэш: {{.Password}}</li>
                        <button id="btn_delete" name="{{ .Id}}" class="btn btn-outline-success float-right">удалить
                        </button>
                    {{end}}
                </ul>
            </div>
            <div class="col">
                <div class="container">
                    <form id="registration_form" action="" method="POST">
                        <p>name</p><input class="form-control me-2" type="text" name="name">
                        <p>password</p><input class="form-control me-2" type="text" name="password">
                        <p>email</p><input class="form-control me-2" type="text" name="email"><br>
                    </form>
                    <button id="registration" class="btn btn-outline-success float-right">Добавить нового юзера
                    </button>
                </div>
            </div>

        </div>
    </div>

    </body>
    </html>

{{end}}