{{ define "server"}}
    {{ template "header" .}}

    <script> $(document).ready(function () {
            $("#addserver").click(function () {
                let form = $("#addserver_form").serializeArray();
                let data = new Map();
                $(form).each(function (index, obj) {
                    data.set(obj.name, obj.value);
                });
                $.ajax({
                    'url': '/api/server',
                    'method': 'POST',
                    'dataType': 'json',
                    'contentType': 'application/json',
                    'data': JSON.stringify({
                        "port": data.get('port')
                    }),
                    statusCode: {
                        400: function () {
                            alert("неправельные данные");
                        },
                        302: function () {
                            window.location.href = "/api/login";
                        }
                    },
                    success: function (data) {
                        window.location.href = "/api/serverpage";
                    },
                });
            });

            $(".delete-button").click(function () {
                var id = $(this).prop("name");
                alert(id)
                $.ajax({
                    'url': '/api/server/' + id,
                    'method': 'DELETE',
                    'contentType': 'application/json',
                    statusCode: {
                        400: function () {
                            alert("неправельные данные");
                        },
                        302: function () {
                            window.location.href = "/api/login";
                        }
                    },
                    success: function (data) {
                        window.location.href = "/api/serverpage";
                    },
                });
            });
        });
    </script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <div class="container mt-4 align-content-center">
        <div class="row">
            <div class="col-9">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Порт</th>
                    <th scope="col">Действие</th>
                </tr>
                </thead>
                <tbody>
                {{range . }}
                    <tr>
                        <th scope="row">{{ .Id}}</th>
                        <td>{{ .Port}}</td>
                        <td> <span class="input-group-btn">
                    <button class="btn btn-outline-danger btn-default delete-button" id="btn_delete" name="{{ .Id}}"
                            type="button">удалить</button>
                        </span>
                        </td>
                    </tr>
                {{ end}}
                </tbody>
            </table>
            </div>

            <div class="col-3 form-group">
                <form id="addserver_form" action="" method="POST">
                        <input class="form-control mb-3" type="text" name="port" placeholder="Порт">
                    <button id="addserver" class="btn btn-outline-success form-control">Добавить новый сервер
                    </button>

                </form>
            </div>
        </div>
    </div>

    </body>
    </html>

{{end}}