{{ define "shoppage"}}
    {{ template "header" .}}
    <script> $(document).ready(function () {
            $(".updateshop").click(function () {
                var id = $(this).prop("id");
                window.location.href = "/api/changeshoppage/" + id;
            });

            $(".clickable-row").click(function () {
                var id = $(this).prop("id");
                window.location.href = "/api/shop/" + {{.Id}} +"/stockpage/" + id;
            });
        })
    </script>
    <div class="container mt-4">
        <H4>{{.Name}}</H4>
        <H4><small>{{.Address}}</small></H4>
    </div>

    <div class="container  align-content-center">

        <div class="row">

            <div class="col-9">
                <table class="table  table-hover">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col"></th>
                        <th scope="col">Название</th>
                        <th scope="col">Описание</th>
                        <th scope="col">Дата начала</th>
                        <th scope="col">Дата окончания</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{range .Stocks }}
                        <tr id="{{.Id}}">
                            <th class="clickable-row" id="{{.Id}}" scope="row">{{ .Id}}</th>
                            <th class="clickable-row" id="{{.Id}}" scope="row"><img style="width:50px; height:50px"
                                                                                    src="/static/img/stock/{{.Img}}">
                            </th>
                            <td class="clickable-row" id="{{.Id}}">{{ .Title}}</td>
                            <td class="clickable-row" id="{{.Id}}">{{ .Description}}</td>
                            <td class="clickable-row" id="{{.Id}}">{{ .DateStart}}</td>
                            <td class="clickable-row" id="{{.Id}}">{{ .DateFinish}}</td>
                        </tr>
                    {{ end}}
                    </tbody>
                </table>
            </div>
            <div class="col-3">

                <div class="d-flex justify-content-center">
                    <div id="map" style="height: 300px; width: 300px; color: #005cbf; align-content: center"></div>
                    <script>
                        function initMap() {
                            $.ajax({
                                'url': '/api/shop',
                                'method': 'GET',
                                'contentType': 'application/json',
                                statusCode: {
                                    400: function () {
                                        alert("неправельные данные");
                                    },
                                    302: function () {
                                        window.location.href = "/api/login";
                                    }
                                },
                                success: function (data) {
                                    // window.location.href = "/api/acountpage";
                                    map(data);
                                },
                            });

                            function map(data) {
                                inputAddress = document.getElementById("searchAddress");
                                geocoder = new google.maps.Geocoder();
                                map = new google.maps.Map(document.getElementById("map"), {
                                    zoom: 16,
                                    center: {lat: -33, lng: 151},
                                    mapTypeControl: true,
                                    mapTypeControlOptions: {
                                        style: google.maps.MapTypeControlStyle.DROPDOWN_MENU,
                                        mapTypeIds: ["roadmap", "terrain"],
                                    },
                                })
                                let markers = [];
                                $.each(JSON.parse(data), function (key, val) {
                                    const infoWindow = new google.maps.InfoWindow();
                                    var myLatlng = new google.maps.LatLng(val.coord_lat, val.coord_lng);
                                    let marker = new google.maps.Marker({
                                        position: myLatlng,
                                        map: map,
                                        title: val.address
                                    });
                                    marker.addListener("click", () => {
                                        infoWindow.close();
                                        infoWindow.setContent(marker.getTitle());
                                        infoWindow.open(marker.getMap(), marker);
                                    });
                                });

                                if (navigator.geolocation) {
                                    navigator.geolocation.getCurrentPosition(
                                        (position) => {
                                            const pos = {
                                                lat: position.coords.latitude,
                                                lng: position.coords.longitude,
                                            };
                                            map.setCenter(pos);
                                        },
                                        () => {

                                        }
                                    );
                                } else {
                                    alert("erro")
                                }

                            }
                        }
                    </script>
                    <script async
                            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIwzALxUPNbatRBj3Xi1Uhp0fFzwWNBkE&callback=initMap&libraries=&v=weekly">
                    </script>
                </div>
                <br>
                <div class="form-group">

                    <a class="btn btn-outline-success btn-block form-control" href="/api/shop/{{ .Id}}/newstockpage">Добавить
                        акцию
                    </a>
                    <br>

                    <a class="btn btn-outline-info btn-block  form-control updateshop" id="{{ .Id}}">Настроить
                        магазин</a>


                </div>
            </div>
        </div>
    </div>
    </div>
    </body>
    </html>
{{end}}